---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import UseCases from "../components/UseCases.astro";
import EarlyAccess from "../components/EarlyAccess.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <Features />
    <HowItWorks />
    <UseCases />
    <EarlyAccess />
  </main>
  <Footer />
</BaseLayout>
